/* custom.css */

/* Elemento de background fixo */
.fixed-bg {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
}

/* Seção de Patrocinadores */
.sponsor-section {
  text-align: center;
  background: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
  padding: 40px;
  border-radius: 10px;
  max-width: 90%;
}

.sponsor-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

/* Grade de patrocinadores */
.sponsor-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.sponsor img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.sponsor img:hover {
  transform: scale(1.05);
}

/* Tamanhos por categoria */
.sponsor.diamante img {
  max-width: 300px;
  
}
.sponsor.ouro img {
  max-width: 250px;
}
.sponsor.prata img {
  max-width: 200px;
}
.sponsor.bronze img {
  max-width: 180px;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #ffd700;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffed4a;
}
